/* Container */
.potree-confirm-dialog {
    background-color: var(--color-0) !important;
    border: 1px solid var(--border-color) !important;
    color: var(--font-color) !important;
    padding: 0 !important;
    border-radius: 2px;
}

/* Header */
.potree-confirm-dialog .ui-dialog-titlebar {
    background-color: var(--bg-dark-color) !important;
    color: var(--font-color-2) !important;
    border: none;
    border-bottom: 1px solid var(--color-2);
    padding: 8px 12px;
}

/* Content Area */
.potree-confirm-dialog .ui-dialog-content {
    background-color: var(--color-0) !important;
    color: var(--font-color) !important;
    padding: 20px !important;
    font-size: 14px;
}

/* Footer / Button Pane */
.potree-confirm-dialog .ui-dialog-buttonpane {
    background-color: var(--bg-dark-color) !important;
    border-top: 1px solid var(--color-2) !important;
    margin: 0 !important;
    padding: 8px !important;
}

/* Buttons */
.potree-confirm-dialog .ui-dialog-buttonset button {
    background-color: var(--color-3) !important;
    color: var(--font-color-2) !important;
    border: 1px solid var(--border-color) !important;
    transition: background 0.2s;
    text-shadow: none;

    &:hover {
        background-color: var(--color-0) !important;
    }
}

/* The Primary "Confirm" Button */
.potree-confirm-dialog .potree-btn-confirm {
    background-color: var(--color-3) !important;
}

.potree-confirm-dialog .potree-btn-confirm:hover {
    background-color: var(--color-4) !important;
    color: #fff !important;
}

/* Close icon inversion (to make it visible on dark) */
.potree-confirm-dialog .ui-dialog-titlebar-close {
    filter: invert(0.8) contrast(2);
    background: transparent;
    border: none;
}
